node_modules/ #Dependenias

package-lock.json #Variables de entorno

uploads/ #Archivos subidos

dist/ #Archivos compilados
build/ #Archivos de construcción

.cache/ #Archivos de caché

logs/ #Archivos de registro
*.log #Archivos de registro
mpm-debug.log* #Archivos de depuración
yarn-debug.log* #Archivos de depuración
yarn-error.log* #Archivos de error
pnpm-debug.log* #Archivos de depuración

tmp/ #Archivos temporales
temo/ #Archivos temporales
*.tmp #Archivos temporales

.vscode/ #Configuración de Visual Studio Code
.idea/ #Configuración de JetBrains IDEs

-DS_Store #Archivos de sistema de macOS
thumbs.db #Archivos de sistema de Windows

docker-data/ #Archivos de datos de Docker
*.pid #Archivos de identificación de procesos

coverage/ #Archivos de cobertura de pruebas

config/secrets.js #Archivo de configuración de secretos